# Ignore datafiles and processed dumps
01_input_files/straight_edge_dislo.lmp

02_minimize_dislo/min_dump
02_minimize_dislo/min_input

04_jog_creation/min_dump
04_jog_creation/min_input

# Ignore all log.lammps files
*.lammps

# Ignore other stuff
deleted_ids.txt

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/