# tmp
06_jog_stability/
07_dynamics_analysis/

# Ignore datafiles and processed dumps
000_output_files/

# Ignore all log.lammps files
*.lammps

# Ignore PyCaches
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/